@use '../../../../styles-breakpoints/breakpoints.scss' as *;

.currency {
    font-size: 2rem;
    margin-bottom: 30px;

    @include xs-breakpoint {
        font-size: 1.7rem;
    }

    &_last {
        margin-bottom: 0;
    }
}