@use '../../../../styles-breakpoints/breakpoints.scss' as *;

.currency {
    font-size: 2rem;
    margin-bottom: 30px;

    @include xs-breakpoint {
        font-size: 1.7rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-bottom: 50px;
    }

    &_last {
        margin-bottom: 0;
    }
}