.burger {
    width: 50px;
    font-size: 3.7rem;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    position: relative;
    top: 5px;
    transition: 1s;

    &:hover {
        opacity: 0.8;
    }
}