@use '../../../styles-breakpoints/breakpoints.scss' as *;

.select-currency-label {
    display: flex;
    flex-direction: column;
    max-width: calc(40% - 220px);
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    color: green;

    @include xs-breakpoint {
        max-width: 100%;
        font-size: 2rem;
    }

    .select-currency {
        margin-top: 20px;
        padding: 10px;
        border-radius: 10px;
        border: 4px solid green;
        font-size: 1.8rem;
        font-weight: bold;
        height: 60px;
        cursor: pointer;
        transition: 1s;

        @media (prefers-color-scheme: dark) {
            & {
                background-color: green;
                border: 4px solid rgb(0, 70, 0);
            }
        }

        @include xs-breakpoint {
            font-size: 1.4rem;
            margin-bottom: 20px;
        }

        &:focus {
            outline: 2px solid black;
        }

        &:hover {
            opacity: 0.8;
        }
    }
}