@use '../../../../styles-breakpoints/breakpoints.scss' as *;

.btn-remove-item-history {
    padding: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 10px;
    border: rgb(133, 0, 0);
    background-color: rgba(187, 0, 0, 0.931);
    color: white;
    cursor: pointer;
    transition: 1s;

    @include xs-breakpoint {
        width: 100%;
        font-size: 1.6rem;
    }

    &:hover {
        opacity: 0.8;
    }
}