@use '../../../styles-breakpoints/breakpoints.scss' as *;

.form-converter {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    @include xs-breakpoint {
        flex-direction: column;
    }

    &__text {
        align-self: center;
        font-size: 2.5rem;
        font-weight: bold;
        color: green;
    }
}