@use '../../../../styles-breakpoints/breakpoints.scss' as *;

.list-btns-select-currencies {
    display: flex;
    list-style: none;
    gap: 10px;

    @include xs-breakpoint {
        overflow-x: scroll;
        width: 100%;
        padding: 0 10px;
        justify-content: space-around;
        padding-bottom: 25px;
    }
}