@use '../../styles-breakpoints/breakpoints.scss' as *;

.header-container {
    background-color: rgb(173, 201, 163);
    max-width: 100%;
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 20px 0 0;

    @media (prefers-color-scheme: dark) {
        & {
            background-color: rgb(136, 158, 127);
        }
    }

    @include xs-breakpoint {
        padding: 0 20px;
        margin-top: 20px;
    }

    .header {
        min-width: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu {
           width: 100%;
        }

        .burger-and-menu-block {
            display: none;
        }

        @include xs-breakpoint {
            padding: 15px 0 0;
            align-items: baseline;

            .menu {
                display: none;
            }

            .burger-and-menu-block {
                display: block;

                .menu-container {
                    display: flex;
                    position: fixed;
                    left: 0;
                    top: 0;
                    z-index: 1000;
                    background-color: rgba(30, 39, 27, 0.95);
                    width: 100%;
                    height: 100%;
                    // opacity: 0.95;

                    .menu-block {
                        position: relative;
                        display: flex;
                        margin-top: 70px;
                        align-items: start;
                        width: 100%;
                        justify-content: center;
                    }
                }
            }
        }
    }
}