.footer {
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: 20px;
    background-color: rgb(173, 201, 163);
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;

    @media (prefers-color-scheme: dark) {
        & {
            background-color: rgb(136, 158, 127);
        }
    }
}